<!DOCTYPE html>

<html>
    <head>

    </head>
    <body>
        <header>

        </header>
        <main>
            <p> Summoner Name: <%= playerPackage.summoner %> </p>
            <p> Summoner Level: <%= playerPackage.summonerLevel %> </p>
            <% playerPackage.match.forEach(match => { %>
                <div> 
                    <p> <%= match.champion %> </p>
                    <p> <%= match.role %> </p>
                    <p> <%= match.lane %> </p>
                </div>
            <% }) %>

            <form action='/' method=GET> 
                <button type='submit'> Take me Back </button>
            </form>
        </main>
        <footer>

        </footer>
    </body>
</html>